<!DOCTYPE html>
<html>
<head>
  <title>Ahchoo</title>
  <link href="stylesheets/bootstrap-2.3.2.min.css" rel="stylesheet">
  <script src="javascripts/jquery-1.11.2.min.js"></script>
  <script src="javascripts/bootstrap-2.3.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
  <!--<script type="text/javascript" src="socket.io/socket.io.js"></script>-->
  <script src="javascripts/angular.min.js"></script>
  <script src="javascripts/angular-route.js"></script>
  
  <script src="javascripts/bower_components/angular-socket-io/socket.js"></script>
  <script src="javascripts/socketClientApp.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
</head>

<body ng-app="timerGame">

	<div class="container" ng-controller="appController">
		<br>
		Hey {{username}}! 
		<br>
		<br>
		<h1>Welcome to our timer game for $5 Amazon gift card!</h1>
		<br>
		<h3>You now can have {{chances}} trial</h3>
		<table class="table table-striped">
			<tbody>

				<tr>
					<td>Time</td>
					<td>Holder</td>
				</tr>
				<tr>
					<td>{{showTime |number : 1}}</td>
					<td>{{owner}}</td>

				</tr>
				<tr>
					<button type="button" ng-disabled="!(hasChance&&started&&!isAdmin)"ng-click="resetTime()" class="btn btn-success pull-right">
						Hit!
					</button>
				</tr>
			</tbody>
		</table>

		<h4>For the sake of continuity of our game and your prize, plz don't refresh the page</h4>
		<div>Each person has 3 chances to hit, and get hold of the prize(temporarily), when the timer goes to 0, whoever hold the ground wins!</div>
		<div>Each hit will result in the timer backs to 10 sec. And if when the timer goes 0 but no one holds the prize, the prize will be gone!!</div>
		<br>
		<h5 ng-hide="hasChance" class="text-danger">Too bad, you have run out of chances</h5>

		<br>
		<button type="button" ng-show="isAdmin" ng-click="startGame()" class="btn btn-primary pull-right">
			Start
		</button>
	</div>
</body>

</html>