<html>
  <% include header %>

  <body ng-app="timerGame" ng-controller="appController">
    <div class="container-fluid">
      <div id="game-id" data="<%= game.id %>"></div>

      <button ng-show="isAdmin" ng-click="startGame()">Start game</button>

      <div class="row mb10">
        <div class="col-xs-4">
          <!-- <img class="img-thumbnail" src="<%= item.image %>" height="75"> -->
        </div>
        <div class="col-xs-8">
          <h4><%= item.title %></h4>
          <h4><i class="fa fa-dollar"></i> <%= item.price %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">
            <h4>Plz don't refresh the page, if you still want to win lol</h4>
      	    <div>You have 3 chances (represented by the number of '.' under Hit button) to hold the prize(temporarily), when the timer goes 0, whoever hold the ground wins! (if any)</div>
            <br>
      	    <div>Each hit will reset the timer back to 10 sec.</div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="started">
        <div class="col-xs-12">
          <div class="alert alert-warning" role="alert">
            <h4>Game not started yet, be patient!</h4>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
              <span ng-bind="user"></span>
              <span class="pull-right" ng-show="user === owner">
              	<i class="fa fa-flag-checkered" ng-show="user === owner"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="fix-bottom bet-panel">
          <div class="col-xs-6">
            <div><i class="fa fa-clock-o"></i> <span ng-bind="showTime | number: 1"></span>s</div>
          </div>

          <div class="col-xs-6">
            <div class="btn-bet" ng-click="resetTime()" ng-disabled="!hasChance || started">
              <i class="fa fa-gavel mr10">
                <span ng-if="chances == 3"> ... </span>
                <span ng-if="chances == 2"> ..&nbsp;</span>
                <span ng-if="chances == 1"> .&nbsp;&nbsp;</span>
                <span ng-if="chances <= 0"> &nbsp;&nbsp;&nbsp;</span>
              </i>
              Hit!
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
