<html>
  <% include header %>

  <body ng-app="timerGame" ng-controller="appController">
    <div class="container-fluid">
      <div id="game-id" data="<%= game.id %>"></div>

      <button ng-show="isAdmin" ng-click="startGame()">Start game</button>

      <div class="row mb10">
        <div class="col-xs-4">
          <!-- <img class="img-thumbnail" src="<%= item.image %>" height="75"> -->
        </div>
        <div class="col-xs-8">
          <h4><%= item.title %></h4>
          <h4><i class="fa fa-dollar"></i> <%= item.price %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">
            <h4>For the sake of continuity of our game and your prize, plz don't refresh the page</h4>
      	    <div>Each person has 3 chances to hit, and get hold of the prize(temporarily), when the timer goes to 0, whoever hold the ground wins!</div>
      	    <div>Each hit will result in the timer backs to 10 sec. And if when the timer goes 0 but no one holds the prize, the prize will be gone!!</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
              <span ng-bind="user"></span>
              <span class="pull-right" ng-if="owner && user == owner)">
              	<i class="fa fa-flag-checkered"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="fix-bottom bet-panel">
          <div class="col-xs-6">
            <div><i class="fa fa-clock-o"></i> <span ng-bind="showTime | number: 1"></span>s</div>
          </div>

          <div class="col-xs-6">
            <div class="btn-bet" ng-click="resetTime()" ng-disable="hasChance">
              <i class="fa fa-gavel mr10">
                <span ng-if="chances == 3"> ... </span>
                <span ng-if="chances == 2"> ..&nbsp;</span>
                <span ng-if="chances == 1"> .&nbsp;&nbsp;</span>
                <span ng-if="chances == 0"> &nbsp;&nbsp;&nbsp;</span>
              </i>
              Hit!
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
