<!DOCTYPE html>
<html>
  <% include header %>

  <body ng-app="userRegister" ng-controller="appController">
    <script src="/javascripts/userRegistry.js"></script>

    <div class="container-fluid">
      <div class="row" style="margin-top: 100px">
        <div class="col-sm-offset-3 col-sm-6">
          <div role="form">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <input class="form-control" type="text" ng-model="username", placeholder="User name" />
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block" ng-click="submitUsername()">Login to Ahchoo</button>
            </div>

            <div class="alert alert-success" role="alert" ng-show="incomplete">
              The length of the username should be longer than 2 characters
            </div>

            <div class="alert alert-danger" role="alert" ng-hide="correct">
              There is duplicate in username, please come up with a new one
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
